<footer id="footer">
    Lyvup © 2020 Alle rechten voorbehouden. <a href="#">Gebruiksvoorwaarden</a> en <a href="#">Privacybeleid </a>

    <div class="select">
        <select name="language">
            <option value="Nederlands">Nederlands</option>
            <option value="English">English</option>
            <option value="German">German</option>
            <option value="Español">Español</option>
            <option value="Français">Français</option>
        </select>
    </div>
</footer>