<header>
    <img src="/images/lyvupLogo.png" alt="">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/feedback">Feedback</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/goals">Goals</a></li>
        </ul>
    </nav>
</header>
