<header>
    <a href="/"><img src="/images/lyvupLogo.png" alt=""></a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/feedback">Feedback</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/goals">Doelen</a></li>
            <li><a href="/leaderboard">Leaderboard</a></li>
            {{!-- <li><a href="/leaderboard-new">Leaderboard New</a></li> --}}
            <li><a href="/profile">Profiel</a></li>
        </ul>
    </nav>
</header>
