<header>
    <a href="/"><img src="/images/lyvupLogo.png" alt=""></a>
    <nav>
        <ul>
            <li><a {{#if home}} class="active-nav" {{/if}} href="/">Home</a></li>
            <li><a {{#if feedback}} class="active-nav" {{/if}} href="/feedback">Feedback</a></li>
            <li><a {{#if team}} class="active-nav" {{/if}} href="/team">Team</a></li>
            <li><a {{#if goals}} class="active-nav" {{/if}} href="/goals">Doelen</a></li>
            <li><a {{#if leaderboard}} class="active-nav" {{/if}} href="/leaderboard">Leaderboard</a></li>
            <li><a {{#if profile}} class="active-nav" {{/if}} href="/profile">Profiel</a></li>
        </ul>
    </nav>
</header>
