    <header>
        <a href="/"><img id="logo" src="/images/lyvupLogo.png" alt=""></a>
            <div class="select">
                <select name="team" id="select2">
                    <option value="Meesterproef">Meesterproef</option>
                    <option value="test1">Test 1</option>
                    <option value="test2">Test 2</option>
                    <!-- {{#each data}}
                        <option value={{acc_wly_name}}>{{acc_wly_name}}</option>
                    {{/each}} -->
                </select>
            </div>

        <div id="get-started"></div>

        <nav>
            <ul>
                <li>
                    <a href="/" {{#if home}} class="active-nav" {{/if}}>
                        <div><img src="/images/nav-home.svg" alt=""></div>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/feedback" {{#if feedback}} class="active-nav" {{/if}}>
                        <div><img src="/images/nav-feedback.svg" alt=""></div>
                        <p>Feedback</p>
                    </a>
                </li>
                <li>
                    <a href="/team" {{#if team}} class="active-nav" {{/if}}>
                        <div><img src="/images/nav-team.svg" alt=""></div>
                        <p>Team</p>
                    </a>
                </li>
                <li>
                    <a href="/goals" {{#if goals}} class="active-nav" {{/if}}>
                        <div><img src="/images/nav-goals.svg" alt=""></div>
                        <p>Mijn doelen</p>
                    </a>
                </li>
                <li>
                    <a href="/leaderboard" {{#if leaderboard}} class="active-nav" {{/if}}>
                        <div><img src="/images/nav-leaderboard.svg" alt=""></div>
                        <p>Leaderboard</p>
                    </a>
                </li>
                <li>
                    <a href="/profile" {{#if profile}} class="active-nav" {{/if}}>
                        <div><img src="/images/nav-profile.svg" alt=""></div>
                        <p>Profiel</p>
                    </a>
                </li>
            </ul>
        </nav>
        <div id="toggle-header">
            <img src="/images/chevron_left.svg" alt="">
        </div>
    </header>

<script src="js/header.js"></script>