<header>
    <a href="/"><img src="/images/lyvupLogo.png" alt=""></a>
    <nav>
        <ul>
            <li><a {{#if home}} class="active-nav" {{/if}} href="/">Home</a></li>
        </ul>
    </nav>
</header>