<a href="/compliment-or-feedback">
    <div id="thumbs__container" class="hint--left" aria-label="Geef compliment of vraag feedback">
        <img src="images/thumbs_up.svg" alt="thumbs up icon">
    </div>
</a>