<div id="page">
    {{> new-header}}

    <main id="content__container">
        <div id="main__container">
            <h1>Feedback</h1>
            <p>Overzicht van feedback die je hebt gekregen, verstuurd en aangevraagd hebt.</p>
            <div id="button__container">
                <input name="feedback-type" type="radio" id="received" value="received" checked>
                <label for="received" tabindex="0">Ontvangen</label>

                <input name="feedback-type" type="radio" id="sent" value="sent">
                <label for="sent" tabindex="0">Verstuurd</label>

                <input name="feedback-type" type="radio" id="asked" value="asked">
                <label for="asked" tabindex="0">Aangevraagd</label>
            </div>
            
            <div id="messages__container">
                    <div class="message">
                        <div class="image__container">
                            <img src="/images/stefan.jpg" alt="">
                            <span>Stefan Gerrits</span>
                            <span>25-5-2020</span>
                        </div>
                        <div class="text__container">
                            <p>Goed gewerkt gisteren!</p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="image__container">
                            <img src="/images/reinier.jpg" alt="">
                            <span>Reinier van Limpt</span>
                            <span>25-5-2020</span>
                        </div>
                        <div class="text__container">
                            <p>Goede customer story van de huidige app beschreven, duidelijke flow </p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="image__container">
                            <img src="/images/reinier.jpg" alt="">
                            <span>Reinier van Limpt</span>
                            <span>25-5-2020</span>
                        </div>
                        <div class="text__container">
                            <p>Goede customer story van de huidige app beschreven, duidelijke flow </p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="image__container">
                            <img src="/images/reinier.jpg" alt="">
                            <span>Reinier van Limpt</span>
                            <span>25-5-2020</span>
                        </div>
                        <div class="text__container">
                            <p>Goede customer story van de huidige app beschreven, duidelijke flow </p>
                        </div>
                    </div>
                </div>
            </div>
        <aside id="super-goals__container">
            <h1>Filteren</h1>

            <section id="filter1">
                <h3>Wanneer</h3>
                <div>
                    <input  tabindex="-1" name="filter1" type="radio" id="everything" value="everything" checked>
                    <label for="everything" tabindex="0">Alles</label>

                    <input name="filter1" type="radio" id="lastweek" value="lastweek">
                    <label for="lastweek" tabindex="0">Afgelopen week</label>

                    <input name="filter1" type="radio" id="lastmonth" value="lastmonth">
                    <label for="lastmonth" tabindex="0">Afgelopen maand</label>

                    <input name="filter1" type="radio" id="lastyear" value="lastyear">
                    <label for="lastyear" tabindex="0">Afgelopen jaar</label>
                </div>
            </section>

            <section id="filter2">
                <h3>Van wie</h3>
                <div>
                    <input name="filter2" type="checkbox" id="1" value="Stefan Gerrits">
                    <label for="1" tabindex="0">Stefan Gerrits</label>

                    <input name="filter2" type="checkbox" id="2" value="Reinier van Limpt">
                    <label for="2" tabindex="0">Reinier van Limpt</label>

                    <input name="filter2" type="checkbox" id="3" value="Anna testpersoon">
                    <label for="3" tabindex="0">Anna tespersoon</label>

                    <input name="filter2" type="checkbox" id="4" value="Lex testpersoon">
                    <label for="4" tabindex="0">Lex testpersoon</label>
                </div>
            </section>

            <section id="filter3">
                <h3>Op doel</h3>
                <p class="text-help">Klik op een doel om ontvangen feedback over dat doel te zien.</p>
                <div id="goals__container">

                    <input name="filter3" type="checkbox" id="goal1" value="goal1">
                    <label for="goal1" tabindex="0">
                        <div class="goal__container">
                            <div>
                                <div class="goal-buttons__container">
                                    <span class="goal-type">Samenwerken</span><span class="goal-type2">Verbeteren</span>
                                </div>
                            </div>
                            <div>
                                <p>Beter worden in samen werken door vaker te communiceren</p>
                            </div>
                        </div>
                    </label>

                    <input name="filter3" type="checkbox" id="goal2" value="goal2">
                    <label for="goal2" tabindex="0">
                        <div class="goal__container">
                            <div>
                                <div class="goal-buttons__container">
                                    <span class="goal-type">Proactief</span><span class="goal-type2">Verbeteren</span>
                                </div>
                            </div>
                            <div>
                                <p>Test doel</p>
                            </div>
                        </div>
                    </label>
                </div>
            </section>
        </aside>
    </main>
</div>

{{> thumbs-up}}

<script src="js/feedback.js"></script>
