<div id="page">
    {{> new-header}}

    <main id="compliment__container" id="center">
        <form method="post" action="/compliment-or-feedback">
            <div id="select__container">
                <h2>Compliment geven</h2>
                <div id="option__container">
                    <div>
                        <input id="praise" class="option1" type="radio" value="praise" name="type" checked>
                        <label for="praise">een compliment geven</label>

                        <input id="feedback" class="option2" type="radio" value="ask-feedback" name="type">
                        <label for="feedback">feedback vragen</label>
                    </div>

                    <div id="super-compliment__container">
                        <input name="superCompliment?" type="checkbox" id="supercompliment" value="yes">
                        <label id="super-compliment__button" for="supercompliment">Activeer een super compliment</label>
                    </div>
                </div>

                <p>Selecteer minimaal 1 persoon</p>

                <div id="select-button__container">
                    <button id="select-all" type="button">Iedereen selecteren</button>
                    <button id="deselect-all" type="button">Selectie ongedaan maken</button>
                </div>

                <div id="team-member__container">
                    <div>
                        <input name="selectedMembers" type="checkbox" id="1" value="Stefan Gerrits">
                        <label for="1">
                            <img src="/images/stefan.jpg" alt="">
                        </label>
                        <p>Stefan Gerrits</p>
                        <span>Teamspeler</span>
                    </div>

                    <div>
                        <input name="selectedMembers" type="checkbox" id="2" value="Reinier van Limpt">
                        <label for="2">
                            <img src="/images/reinier.jpg" alt="">
                        </label>
                        <p>Reinier van Limpt</p>
                        <span>Teamspeler</span>
                    </div>

                    <div>
                        <input name="selectedMembers" type="checkbox" id="3" value="Lex testpersoon">
                        <label for="3">
                            <img src="/images/random4.jpg" alt="">
                        </label>
                        <p>Lex testpersoon</p>
                        <span>Teamspeler</span>
                    </div>

                    <div>
                        <input name="selectedMembers" type="checkbox" id="4" value="Lex testpersoon">
                        <label for="4">
                            <img src="/images/random4.jpg" alt="">
                        </label>
                        <p>Lex testpersoon</p>
                        <span>Teamspeler</span>
                    </div>

                    <div>
                        <input name="selectedMembers" type="checkbox" id="5" value="Lex testpersoon">
                        <label for="5">
                            <img src="/images/random4.jpg" alt="">
                        </label>
                        <p>Lex testpersoon</p>
                        <span>Teamspeler</span>
                    </div>

                    <div>
                        <input name="selectedMembers" type="checkbox" id="6" value="Anna testpersoon">
                        <label for="6">
                            <img src="/images/random3.jpg" alt="">
                        </label>
                        <p>Anna testpersoon</p>
                        <span>Teamspeler</span>
                    </div>

                    <div>
                        <input name="selectedMembers" type="checkbox" id="7" value="Lex testpersoon">
                        <label for="7">
                            <img src="/images/random4.jpg" alt="">
                        </label>
                        <p>Lex testpersoon</p>
                        <span>Teamspeler</span>
                    </div>

                    <div>
                        <input name="selectedMembers" type="checkbox" id="8" value="Lex testpersoon">
                        <label for="8">
                            <img src="/images/random4.jpg" alt="">
                        </label>
                        <p>Lex testpersoon</p>
                        <span>Teamspeler</span>
                    </div>

                    <div>
                        <input name="selectedMembers" type="checkbox" id="9" value="Anna testpersoon">
                        <label for="9">
                            <img src="/images/random3.jpg" alt="">
                        </label>
                        <p>Anna testpersoon</p>
                        <span>Teamspeler</span>
                    </div>

                    <div>
                        <input name="selectedMembers" type="checkbox" id="10" value="Stefan Gerrits">
                        <label for="10">
                            <img src="/images/stefan.jpg" alt="">
                        </label>
                        <p>Stefan Gerrits</p>
                        <span>Teamspeler</span>
                    </div>
                </div>
            </div>

            <aside>
                <div id="more-information">
                    <h3>Geselecteerde persoon:</h3>
                    <div id="selected-members"></div>

                    <h4>Teamlid informatie</h4>
                    <div id="goals__container">
                        <p>Selecteer een doel als je hierop een compliment wilt geven.</p>
                        <div class="goal__container">
                            <div>
                                <div class="goal-buttons__container">
                                    <span class="goal-type">Samenwerken</span><span class="goal-type2">Verbeteren</span>
                                </div>
                            </div>
                            <div>
                                <p>Beter worden in samen werken door vaker te communiceren</p>
                            </div>
                        </div>
                        <div class="goal__container">
                            <div>
                                <div class="goal-buttons__container">
                                    <span class="goal-type">Proactief</span><span class="goal-type2">Verbeteren</span>
                                </div>
                            </div>
                            <div>
                                <p>Test doel</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="selected-members__container">
                    <textarea name="textarea" id="" rows="10" required
                        placeholder="Typ hier je compliment..."></textarea>
                    <input type="submit" class="defaultButton" value="Versturen">
                </div>
            </aside>
        </form>

        <div class="compliment__animation">
            <p>Hallo</p>
            <section class="demo">
                <div class="leaf leaf_1"></div>
                <div class="leaf leaf_2"></div>
                <div class="leaf leaf_3"></div>
                <div class="leaf leaf_4"></div>
                <div class="leaf leaf_5"></div>
            </section>
        </div>
    </main>
</div>

<script src="js/compliments.js"></script>