{{> header}}

<div id="compliment__container" id="center">
    <h1>Geef complimenten of vraag feedback</h1>

    <div id="team2__container">
        <p>Team</p>
        <div class="select">
            <select name="members" id="select2">
                <option value="sample">Meesterproef</option>
                <option value="sample">Sample</option>
                <option value="sample">Sample</option>
            </select>
        </div>
    </div>

    <div id="option__container">
        <p>Ik wil...</p>
        <input id="praise" class="option1" type="radio" name="type" checked>
        <label for="praise">een compliment geven</label>

        <input id="feedback" class="option2" type="radio" name="type">
        <label for="feedback">feedback vragen</label>
    </div>

    <div id="select__container">
        <h2>Compliment geven</h2>
        <p>Selecteer minimaal 1 persoon</p>

        <div id="team-member__container">
            <div>
                <img src="/images/random4.jpg" alt="">
                <p>Stefan Gerrits</p>
                <p>Teamspeler</p>
            </div>
            <div>
                <img src="/images/reinier.jpg" alt="">
                <p>Stefan Gerrits</p>
                <p>Teamspeler</p>
            </div>
            <div>
                <img src="/images/stefan.jpg" alt="">
                <p>Stefan Gerrits</p>
                <p>Teamspeler</p>
            </div>
            <div>
                <img src="/images/reinier.jpg" alt="">
                <p>Stefan Gerrits</p>
                <p>Teamspeler</p>
            </div>
            <div>
                <img src="/images/random3.jpg" alt="">
                <p>Stefan Gerrits</p>
                <p>Teamspeler</p>
            </div>
            <div>
                <img src="/images/stefan.jpg" alt="">
                <p>Stefan Gerrits</p>
                <p>Teamspeler</p>
            </div>
            <div>
                <img src="/images/random1.jpg" alt="">
                <p>Stefan Gerrits</p>
                <p>Teamspeler</p>
            </div>
            <div>
                <img src="/images/random2.jpg" alt="">
                <p>Stefan Gerrits</p>
                <p>Teamspeler</p>
            </div>
            <div>
                <img src="/images/random4.jpg" alt="">
                <p>Stefan Gerrits</p>
                <p>Teamspeler</p>
            </div>
            <div>
                <img src="/images/stefan.jpg" alt="">
                <p>Stefan Gerrits</p>
                <p>Teamspeler</p>
            </div>
            <div>
                <img src="/images/random1.jpg" alt="">
                <p>Stefan Gerrits</p>
                <p>Teamspeler</p>
            </div>
        </div>
    </div>

    <textarea name="textarea" id="" cols="80" rows="10" placeholder="Typ hier je compliment..."></textarea>
    <button type="button" class="defaultButton">Versturen</button>
</div>

<script src="js/compliments.js"></script>