{{> header}}

<div id="content__container">
  <div id="main__container">
    <div class="goalsHead">
      <h1>Goals</h1>
      <div class=addGoals>
        <button class="goalsButton" type="button">
          <div class="flex">
            <img src="./images/plus_icon.svg" alt="">
            Add goals
          </div>
        </button>
      </div>
    </div>
    <div id="setGoals__container">
      {{#each data}}
      <article class="goal__container">
        <div class="flex">
          <img src="./images/goals_icon.svg" alt="">
          <div class="goal-buttons__container">
            <span class="goal-type">{{title}}</span><span class="goal-type2">{{goal_type}}</span><span class="goal-estimate">{{daysToExpiry}}</span>
          </div>
        </div>
        <div>
          {{#each skills}}
          <p>{{description}}</p>
          {{/each}}
        </div>
      </article>
      {{/each}}
    </div>
    <h2>Completed Goals</h2>
    <div id=completedGoals__container>
      <article class="goal__container">
        <div class="flex">
          <img src="./images/goals_icon.svg" alt="">
          <div class="goal-buttons__container">
            <span class="goal-type">Communiceren</span><span class="goal-type2">Verbeteren</span><span class="goal-estimate">12 uur resterend</span>
          </div>
        </div>
        <div>
          <p>Communicate more over slack</p>
        </div>
      </article>
      <article class="goal__container">
        <div class="flex">
          <img src="./images/goals_icon.svg" alt="">
          <div class="goal-buttons__container">
            <span class="goal-type">Communiceren</span><span class="goal-type2">Verbeteren</span><span class="goal-estimate">12 uur resterend</span>
          </div>
        </div>
        <div>
          <p>Communicate more over slack</p>
        </div>
      </article>
    </div>
  </div>
  <div id="super-goals__container">
    <div class="complimentsHead">
      <h1>Compliments</h1>
    </div>
    <div id="messages__container">
      <div class="compliment__container">
        <div class="compliments-buttons__container">
          <p><b>Monika Streljajevravejejeva</b></p> <span class="compliment-date">Today, on</span><span class="goal-type">Communiceren</span>
        </div>
        <img class="userImg" src="/images/reinier.jpg">
        <p class="compliment-message">The difference between what we do and what we are capable of doing would suffice to solve most of the world’s problems.</p>
      </div>
      <div class="compliment__container">
        <div class="compliments-buttons__container">
          <p><b>Frank Wood</b></p> <span class="compliment-date">Today, on</span><span class="goal-type">Communiceren</span>
        </div>
        <img class="userImg" src="/images/reinier.jpg">
        <p class="compliment-message">The difference between what we do and what we are capable of doing would suffice to solve most of the world’s problems.</p>
      </div>
    </div>
  </div>
</div>

{{> thumbs-up}}

<script src="js/goals.js"></script>
