{{> header}}

<div id="content__container">
  <div id="main__container">
    <div class="goalsHead">
      <h1>Doelen</h1>
      <div class=addGoals>
        <button class="goalsButton" type="button">
          <div class="flex">
            <img src="./images/plus_icon.svg" alt="">
            Toevoegen
          </div>
        </button>
      </div>
    </div>
    <div id="setGoals__container">
      <article class="goal__container">
        <div class="flex">
          <img src="./images/goals_icon.svg" alt="">
          <div class="goal-buttons__container">
            <span class="goal-type">Samenwerken</span><span class="goal-type2">Verbeteren</span><span class="goal-estimate">12 uur resterend</span>
          </div>
        </div>
        <div>
          <p>Beter worden in samen werken door vaker te communiceren</p>
        </div>
      </article>
      <article class="goal__container">
        <div class="flex">
          <img src="./images/goals_icon.svg" alt="">
          <div class="goal-buttons__container">
            <span class="goal-type">Communiceren</span><span class="goal-type2">Verbeteren</span><span class="goal-estimate">12 uur resterend</span>
          </div>
        </div>
        <div>
          <p>Communicate more over slack</p>
        </div>
      </article>
    </div>
    <h2>Voltooide doelen</h2>
    <div id=completedGoals__container>
      <article class="goal__container">
        <div class="flex">
          <img src="./images/goals_icon.svg" alt="">
          <div class="goal-buttons__container">
            <span class="goal-type">Communiceren</span><span class="goal-type2">Verbeteren</span><span class="goal-estimate">12 uur resterend</span>
          </div>
        </div>
        <div>
          <p>Communiceer vaker op Slack</p>
        </div>
      </article>
      <article class="goal__container">
        <div class="flex">
          <img src="./images/goals_icon.svg" alt="">
          <div class="goal-buttons__container">
            <span class="goal-type">Communiceren</span><span class="goal-type2">Verbeteren</span><span class="goal-estimate">12 uur resterend</span>
          </div>
        </div>
        <div>
          <p>Communiceer vaker op Slack</p>
        </div>
      </article>
    </div>
  </div>
  <div id="super-goals__container">
    <div class="complimentsHead">
      <h1>Complimenten</h1>
    </div>
    <div id="messages__container">
      <div class="compliment__container">
        <div class="compliments-buttons__container">
          <p><b>Monika Streljajevravejejeva</b></p> <span class="compliment-date">Vandaag, op</span><span class="goal-type">Communiceren</span>
        </div>
        <img class="userImg" src="/images/reinier.jpg">
        <p class="compliment-message">The difference between what we do and what we are capable of doing would suffice to solve most of the world’s problems.</p>
      </div>
      <div class="compliment__container">
        <div class="compliments-buttons__container">
          <p><b>Frank Wood</b></p> <span class="compliment-date">Vandaag, op</span><span class="goal-type">Communiceren</span>
        </div>
        <img class="userImg" src="/images/reinier.jpg">
        <p class="compliment-message">The difference between what we do and what we are capable of doing would suffice to solve most of the world’s problems.</p>
      </div>
    </div>
  </div>
</div>

{{> thumbs-up}}