{{> header}}

<div class="dashboard__container">
    <div class="left__container">
        <div class="data__collaps">
            <h4>Complimenten</h4>
            <img src="/images/arrow.svg" alt="">
        </div>
        <div class="data__collaps">
            <h4>Tests</h4>
            <img src="/images/arrow.svg" alt="">
        </div>
        <div class="data__collaps">
            <h4>Doelen</h4>
            <img src="/images/arrow.svg" alt="">
        </div>
        <div class="data__collaps">
            <h4>To Do</h4>
            <img src="/images/arrow.svg" alt="">
        </div>
        <div class="data__collaps">
            <h4>Verzoeken</h4>
            <img src="/images/arrow.svg" alt="">
        </div>
    </div>
    <div class="center__container">
        <div class="activity__container">
            {{#each data.activities_data.activities}}
                <div class="activity__section">
                    <img src="/images/user.svg" alt="">
                    <div class="activity__card">
                        <p>{{title}}</p>
                        <p>{{message}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="right__container">

    </div>
</div>




{{> thumbs-up}}