<header id="landing__header">
    <div class="header__container">
        <div class="header__left">
            <img src="/images/lyvupLogo.png" alt="">
            <a href="#">Home</a>
            <a href="#">Prijzen</a>
        </div>
        <div class="header__right">
            <a href="#">Login</a>
            <button>Beginnen</button>
        </div>
    </div>
</header>
<main id="landing__main">
    <section id="landing__section_intro">
        <div>
            <h1>Lyvup stimuleert samenwerking in teams</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cumque ducimus earum eius excepturi, expedita ipsam iure laborum maxime nemo, odio officia, officiis porro qui quia sit unde veritatis voluptates?</p>
            <button>Probeer Lyvup</button>
        </div>
        <div>
            <img src="/images/teamwork.png" alt="">
        </div>
    </section>
</main>