<div id="landing__header">
    <div class="header__container">
        <div class="header__left">
            <img src="/images/lyvupLogo.png" alt="">
            <a href="#">Home</a>
            <a href="#">Kosten</a>
        </div>
        <div class="header__right">
            <a href="#">Login</a>
            <a href="/onboarding">
                <button>Begin met Lyvup</button>
            </a>
        </div>
    </div>
</div>
<main>
    <section id="landing__section_1">
        <div class="landing__container">
            <div>
                <h1>Lyvup laat jou en je team tot bloei komen</h1>
                <p>
                    Haal meer uit je teams. Vele organisaties zijn reeds met succes overgestapt op de nieuwe manier van
                    werken, met als doel meer tevredenen en gemotiveerde medewerkerks die zich meer gewaardeerd voelen
                    en daarbij tot beter prestaties komen. De focus op iemands talenten is het uitgangspunt.
                </p>
                <a href="/onboarding">
                    <button>Probeer Lyvup</button>
                </a>
            </div>
            <div>
                <img src="/images/teamwork.png" alt="">
            </div>
        </div>
    </section>
    <section id="landing__section_2">
        <div class="landing__container">
            <div class="section__header">
                <h1>Wat heb jij aan Lyvup?</h1>
            </div>
            <div class="section__grid">
                <div>
                    <img src="/images/nav-feedback.svg" alt="">
                    <h4>Medewerkers die zich gewaardeerd voelen presteren beter</h4>
                    <p>Zorg dat collega's elkaar gemakkelijk complimenten kunnen geven waardoor er een positieve cultuur
                        ontstaat. Dit leidt tot meer gemotiveerde medewerkers.</p>
                </div>
                <div>
                    <img src="/images/nav-goals.svg" alt="">
                    <h4>Stimuleer persoonlijke groei en teamontwikkeling</h4>
                    <p>Zorg dat collega's elkaar gemakkelijk complimenten kunnen geven waardoor er een positieve cultuur
                        ontstaat. Dit leidt tot meer gemotiveerde medewerkers.</p>
                </div>
                <div>
                    <img src="/images/nav-leaderboard.svg" alt="">
                    <h4>Verminder werkstress en uitval door ziekte</h4>
                    <p>Tevreden medewerkers die in hun kracht worden gezet ervaren minder stress en vertonen minder
                        ziketeverzuim.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="landing__section_3">
        <div class="landing__container">
            <div class="section__header">
                <h1>Features</h1>
            </div>
            <div class="feature__container">
                <div>
                    <img src="/images/feature_1.png" alt="">
                </div>
                <div>
                    <h1>Ontdek de sterke punten van alle medewerkers</h1>
                    <p>d.m.v. een 360-graden feedback</p>
                </div>
            </div>
            <div class="feature__container">
                <div>
                    <h1>Doelen stellen vanuit die sterke punten</h1>
                    <p>Waarmee jouw sterke punten kunt verbeteren of vaker kunt inzetten</p>
                </div>
                <div>
                    <img src="/images/feature_2.png" alt="">
                </div>
            </div>
            <div class="feature__container">
                <div>
                    <img src="/images/feature_3.png" alt="">
                </div>
                <div>
                    <h1>Continue constructieve feedback</h1>
                    <p>Geef eenvoudig en snel positieve feedback om elkaars groei en ontwikkeling een boost te geven</p>
                </div>
            </div>
            <div class="feature__container">
                <div>
                    <h1>Een app voor gemakkelijk gebruik</h1>
                    <p>Gebruik de Lyvup apps voor op de smartphones en tablets</p>
                </div>
                <div>
                    <img src="/images/feature_3.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="landing__section_4">
        <div class="landing__container">
            <h1>Maak kennis met Lyvup</h1>
            <p>Creëer een eigen Lyvup omgeving voor je team. Ontdek welke sterke punten je teammembers nog meer hebben
                en hoe je deze kunt gebruiken om beter en leuker samen te werken in een positieve werkomgeving.
                Aanmelden is eenvoudig.</p>
            <a href="/onboarding">
                <button>Zet de eerste stap</button>
            </a>
        </div>
    </section>
    <section id="landing__section_5">
        <div class="landing__container">
            <div class="section__header">
                <h1>Over ons</h1>
            </div>
            <div class="aboutus__container">
                <div>
                    <iframe src="https://www.youtube.com/embed/HvmjjXVVkds"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div>
                    <p>Our goal is to create positive work environments, where people can flourish by being able to use
                        their strengths, by giving and receiving positive feedback from their peers and by setting
                        development goals based on their strengths.</p>
                </div>
            </div>
            <div class="contact__container">
                <a href="#">
                    <button>Contact</button>
                </a>
            </div>
        </div>
    </section>
    <section id="landing__section_6">
        <div class="landing__container">
            <div class="section__header">
                <h1>Wat zeggen gebruikers?</h1>
            </div>
            <div class="reviews__container">
                <div>
                    <img src="/images/random3.jpg" alt="">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit."</p>
                </div>
                <div>
                    <img src="/images/random2.jpg" alt="">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit."</p>
                </div>
                <div>
                    <img src="/images/random3.jpg" alt="">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit."</p>
                </div>
                <div>
                    <img src="/images/user.png" alt="">
                    <p>Wat vind jij van Lyvup?</p>
                </div>
            </div>
        </div>
    </section>
</main>
<footer id="landing__footer">
    <div class="landing__container">
        <div class="footer__left">
            <a href="#">Algemene voorwaarden</a>
            <a href="#">Privacybeleid</a>
            <p>© Copyright 2020 Lyvup. Alle rechten voorbehouden.</p>
        </div>
        <div class="footer__right">
            <form action="#">
                <select name="lang" id="lang">
                    <option value="nl" selected>Nederlands</option>
                    <option value="eng">English</option>
                </select>
            </form>
            <div class="address__container">
                <p>Johan Huizingalaan 763-a</p>
                <p>1066 VH Amsterdam</p>
                <p>The Netherlands</p>
            </div>
        </div>
    </div>
</footer>


<script src="js/landing.js"></script>