<header id="landing__header">
    <div class="header__container">
        <div class="header__left">
            <img src="/images/lyvupLogo.png" alt="">
            <a href="#">Home</a>
            <a href="#">Prijzen</a>
        </div>
        <div class="header__right">
            <a href="#">Login</a>
            <button>Beginnen</button>
        </div>
    </div>
</header>
<main>
    <section id="landing__section_1">
        <div class="landing__container">
            <div>
                <h1>Lyvup stimuleert samenwerking in teams</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cumque ducimus earum eius
                    excepturi, expedita ipsam iure laborum maxime nemo, odio officia, officiis porro qui quia sit unde
                    veritatis voluptates?
                </p>
                <button>Probeer Lyvup</button>
            </div>
            <div>
                <img src="/images/teamwork.png" alt="">
            </div>
        </div>
    </section>
    <section id="landing__section_2">
        <div class="landing__container">
            <div class="section__header">
                <h1>Wat heb jij aan Lyvup?</h1>
            </div>
            <div class="section__grid">
                <div>
                    <img src="/images/nav-feedback.svg" alt="">
                    <h4>Reden 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur dolores, enim eum
                        explicabo illum in, incidunt nihil possimus quibusdam quis rem </p>
                </div>
                <div>
                    <img src="/images/nav-goals.svg" alt="">
                    <h4>Reden 2</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut eveniet numquam veniam. Ad
                        aliquid, architecto asperiores doloribus, fugit id modi omnis, rem reprehenderit similique
                        soluta vero. Et, reiciendis, saepe.</p>
                </div>
                <div>
                    <img src="/images/nav-leaderboard.svg" alt="">
                    <h4>Reden 3</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, numquam obcaecati? Ab, ad
                        blanditiis deleniti error explicabo iusto maxime molestias nesciunt nihil quos repellat </p>
                </div>
            </div>
        </div>
    </section>
    <section id="landing__section_3">
        <div class="landing__container">
            <div class="feature__container">
                <div>
                    <img src="/images/feature_1.png" alt="">
                </div>
                <div>
                    <h1>Complimenten geven</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aperiam culpa cumque delectus
                        facilis ipsa modi nam, nostrum odit pariatur praesentium repellat rerum. Amet eum facere minus
                        reiciendis unde?</p>
                </div>
            </div>
            <div class="feature__container">
                <div>
                    <h1>Doelen stellen</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias debitis distinctio dolor
                        dolorem eligendi ex id, laborum libero natus optio pariatur possimus provident quibusdam
                        recusandae similique soluta temporibus tenetur.</p>
                </div>
                <div>
                    <img src="/images/feature_2.png" alt="">
                </div>
            </div>
            <div class="feature__container">
                <div>
                    <img src="/images/feature_3.png" alt="">
                </div>
                <div>
                    <h1>Feed-like dashboard</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aperiam culpa cumque delectus
                        facilis ipsa modi nam, nostrum odit pariatur praesentium repellat rerum. Amet eum facere minus
                        reiciendis unde?</p>
                </div>
            </div>
        </div>
    </section>
    <section id="landing__section_4">
        <div class="landing__container">
            <h1>Begin de rondleiding</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto dolorem ea eaque ex labore
                minus modi necessitatibus officia optio possimus quo quos, ratione reiciendis repudiandae sapiente unde
                vel veritatis.</p>
            <button>Begin de rondleiding</button>
        </div>
    </section>
    <section id="landing__section_5">
        <div class="landing__container">
            <div class="section__header">
                <h1>Over ons</h1>
            </div>
            <div class="aboutus__container">
                <div>
                    <iframe src="https://www.youtube-nocookie.com/embed/EMbf5xNaeZ8"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium beatae
                        blanditiis, commodi deleniti eaque enim et facilis fugit iste laudantium nam nostrum porro quasi
                        quia quo repudiandae soluta unde.
                        lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut hic maiores molestiae nihil,
                        officia quaerat recusandae tenetur veritatis. Aliquid consequatur eius facilis inventore minima
                        odit officia voluptatibus? Facere, voluptas voluptatum. Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Aliquid animi atque libero molestias mollitia necessitatibus nihil, non
                        obcaecati odio quas quo quod quos, sapiente similique tenetur unde voluptates. Dolorum, rem.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="landing__section_6">
        <div class="landing__container">
            <div class="section__header">
                <h1>Wat vinden gebruikers?</h1>
            </div>
            <div class="reviews__container">
                <div>
                    <img src="/images/stefan.jpg" alt="">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit."</p>
                </div>
                <div>
                    <img src="/images/random2.jpg" alt="">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit."</p>
                </div>
                <div>
                    <img src="/images/random3.jpg" alt="">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit."</p>
                </div>
                <div>
                    <img src="/images/random1.jpg" alt="">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit."</p>
                </div>
                <div>
                    <img src="/images/reinier.jpg" alt="">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit."</p>
                </div>
                <div>
                    <img src="/images/random4.jpg" alt="">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit."</p>
                </div>
            </div>
        </div>
    </section>
</main>
<footer id="landing__footer">
    <div class="landing__container">
        <div>
            <p>© Copyright 2020 Lyvup. Alle rechten voorbehouden.</p>
        </div>
        <div>
            <a href="#">Privacybeleid</a>
        </div>
    </div>
</footer>


<script src="js/landing.js"></script>