{{> header}}

<div id="content__container">
    <div id="main__container">
        <h1>Ranglijst</h1>
        <p>Hier kan je de langlijsten vinden over karma en achievements</p>

        {{!-- tab menu --}}
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'Karma')">Karma</button>
            <button class="tablinks" onclick="openCity(event, 'Achievements')">Achievements</button>
        </div>

        <div id="Karma" class="tabcontent">
            <h3>Karma</h3>

            <div class="selectContainer">
                <div class="select">
                    <select name="teams" id="select1">
                        <option value="sample">Meesterproef</option>
                        <option value="sample">Meester 2</option>
                    </select>
                </div>
            </div>

            <div class="selectContainer">
                <div class="select">
                    <select name="teams" id="select1">
                        <option value="sample">Dag</option>
                        <option value="sample">Week</option>
                        <option value="sample">Maand</option>
                    </select>
                </div>
            </div>

            <div id="Karmaboard">
                <div class="gridElement">
                    <h3>#1</h3>
                    <img class="leaderboardImage" src="/images/reinier.jpg" alt="profile">
                    <h3 class="leaderboardName">Reinier</h3>
                    <h3 class="leaderboardKarma">2100 karma</h3>
                </div>
                <div class="gridElement">
                    <h3>#2</h3>
                    <img class="leaderboardImage" src="/images/reinier.jpg" alt="profile">
                    <h3 class="leaderboardName">Monika</h3>
                    <h3 class="leaderboardKarma">2050 karma</h3>
                </div>
                <div class="gridElement">
                    <h3>#3</h3>
                    <img class="leaderboardImage" src="/images/reinier.jpg" alt="profile">
                    <h3 class="leaderboardName">Michel</h3>
                    <h3 class="leaderboardKarma">1900 karma</h3>
                </div>
                <div class="gridElement">
                    <h3>#4</h3>
                    <img class="leaderboardImage" src="/images/reinier.jpg" alt="profile">
                    <h3 class="leaderboardName">Max</h3>
                    <h3 class="leaderboardKarma">1870 karma</h3>
                </div>
                <div class="gridElement">
                    <h3>#5</h3>
                    <img class="leaderboardImage" src="/images/stefan.jpg" alt="profile">
                    <h3 class="leaderboardName">Stefan</h3>
                    <h3 class="leaderboardKarma">1750 karma</h3>
                </div>
            </div>
        </div>

        <div id="Achievements" class="tabcontent hidden">
            <h3>Achievements</h3>

            <div class="selectContainer">
                <div class="select">
                    <select name="teams" id="select1">
                        <option value="sample">Meesterproef</option>
                        <option value="sample">Meester 2</option>>
                    </select>
                </div>
            </div>

            <div class="selectContainer">
                <div class="select">
                    <select name="teams" id="select1">
                        <option value="sample">Dag</option>
                        <option value="sample">Week</option>
                        <option value="sample">Maand</option>
                    </select>
                </div>
            </div>

            <div id="achievementBoard">
                <div class="gridElement">
                    <h3>#1</h3>
                    <img class="leaderboardImage" src="/images/reinier.jpg" alt="profile">
                    <h3 class="leaderboardName">Reinier</h3>
                    <img class="leaderboardImage" src="/images/icon1.png" alt="achievement">
                    <img class="leaderboardImage" src="/images/icon2.png" alt="achievement">
                    <img class="leaderboardImage" src="/images/icon3.png" alt="achievement">
                </div>
                <div class="gridElement">
                    <h3>#2</h3>
                    <img class="leaderboardImage" src="/images/reinier.jpg" alt="profile">
                    <h3 class="leaderboardName">Monika</h3>
                    <img class="leaderboardImage" src="/images/icon4.png" alt="achievement">
                    <img class="leaderboardImage" src="/images/icon3.png" alt="achievement">
                    <img class="leaderboardImage" src="/images/icon1.png" alt="achievement">
                </div>
                <div class="gridElement">
                    <h3>#3</h3>
                    <img class="leaderboardImage" src="/images/reinier.jpg" alt="profile">
                    <h3 class="leaderboardName">Michel</h3>
                    <img class="leaderboardImage" src="/images/icon3.png" alt="achievement">
                    <img class="leaderboardImage" src="/images/icon4.png" alt="achievement">
                    <img class="leaderboardImage" src="/images/icon2.png" alt="achievement">
                </div>
                <div class="gridElement">
                    <h3>#4</h3>
                    <img class="leaderboardImage" src="/images/reinier.jpg" alt="profile">
                    <h3 class="leaderboardName">Max</h3>
                    <img class="leaderboardImage" src="/images/icon2.png" alt="achievement">
                    <img class="leaderboardImage" src="/images/icon3.png" alt="achievement">
                    <img class="leaderboardImage" src="/images/icon1.png" alt="achievement">
                </div>
                <div class="gridElement">
                    <h3>#5</h3>
                    <img class="leaderboardImage" src="/images/stefan.jpg" alt="profile">
                    <h3 class="leaderboardName">Stefan</h3>
                    <img class="leaderboardImage" src="/images/icon1.png" alt="achievement">
                    <img class="leaderboardImage" src="/images/icon4.png" alt="achievement">
                    <img class="leaderboardImage" src="/images/icon2.png" alt="achievement">
                </div>
            </div>
        </div>


    </div>
</div>

<script src="js/leaderboard.js"></script>