{{> header}}

<div class="flex">
    <div class="selectContainer">
        <div class="select">
            <select name="teams" id="select1">
                <option value="sample">Dag</option>
                <option value="sample">Week</option>
                <option value="sample">Maand</option>
            </select>
        </div>
    </div>
</div>

<div class="big__grid">
    <div class="grid__base karma__individual__container">
        <h3>Karma inidvidual</h3>

        <div class="grey__Background">
            <div class="gridElement">
                <h3 class="leaderboardNumber">#1</h3>
                <img class="leaderboardImage" src="/images/reinier.jpg" alt="profile">
                <h4 class="leaderboardName">Reinier</h4>
                <h4 class="leaderboardKarma">2100 karma punten</h4>
            </div>
            <div class="gridElement">
                <h3 class="leaderboardNumber">#2</h3>
                <img class="leaderboardImage" src="/images/reinier.jpg" alt="profile">
                <h4 class="leaderboardName">Monika</h4>
                <h4 class="leaderboardKarma">2050 karma punten</h4>
            </div>
            <div class="gridElement">
                <h3 class="leaderboardNumber">#3</h3>
                <img class="leaderboardImage" src="/images/reinier.jpg" alt="profile">
                <h4 class="leaderboardName">Michel</h4>
                <h4 class="leaderboardKarma">1900 karma punten</h4>
            </div>
            <div class="gridElement">
                <h3 class="leaderboardNumber">#4</h3>
                <img class="leaderboardImage" src="/images/reinier.jpg" alt="profile">
                <h4 class="leaderboardName">Max</h4>
                <h4 class="leaderboardKarma">1870 karma punten</h4>
            </div>
            <div class="gridElement">
                <h3 class="leaderboardNumber">#5</h3>
                <img class="leaderboardImage" src="/images/stefan.jpg" alt="profile">
                <h4 class="leaderboardName">Stefan</h4>
                <h4 class="leaderboardKarma">1750 karma punten</h4>
            </div>
        </div>
    </div>

    <div class="grid__base karma__team__container">
        <h3>Karma team</h3>

        <div class="grey__Background">
            <div class="gridElement">
                <h3 class="leaderboardNumber">#1</h3>
                <h4 class="leaderboardName">Meesterproef</h4>
                <h4 class="leaderboardKarma">11000 karma punten</h4>
            </div>
            <div class="gridElement">
                <h3 class="leaderboardNumber">#2</h3>
                <h4 class="leaderboardName">Meester2</h4>
                <h4 class="leaderboardKarma">10050 karma punten</h4>
            </div>
        </div>
    </div>

    <div class="grid__base challenge__leaderboard__container">
        <h3>Challenge</h3>
        <div class="challenges">
            <div class="individual__challenge">
                <h3>Individuele challenges</h3>
                <div class="profile__challange">
                    <p class="bodyTextBold">Complimenten geven</p>
                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                </div>
                <div class="profile__challange">
                    <p class="bodyTextBold">doelen</p>
                    <p>Maak 4 doelen voor gegeven tijd.</p>
                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                </div>
                <div class="profile__challange">
                    <p class="bodyTextBold">Complimenten geven</p>
                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                </div>
            </div>

            <div class="team__challenge">
                <h3>Team challenges</h3>
                <div class="profile__challange">
                    <p class="bodyTextBold">Complimenten geven</p>
                    <p>Geef als team 1000 complimenten voor de gegeven tijd.</p>
                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                </div>
                <div class="profile__challange">
                    <p class="bodyTextBold">Doelen</p>
                    <p>Maak als team 20 doelen aan voor de gegeven tijd</p>
                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                </div>
                <div class="profile__challange">
                    <p class="bodyTextBold">Complimenten geven</p>
                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                </div>
            </div>
        </div>

    </div>

    <div class="grid__base challenge__achievement__container">
        <h3>Achievements</h3>

        <div class="grey__Background">
            <div class="gridElement">
                <h3 class="leaderboardNumber">#1</h3>
                <img class="leaderboardImage" src="/images/reinier.jpg" alt="profile">
                <h4 class="leaderboardName">Reinier</h4>
                <img class="leaderboardImage" src="/images/icon1.png" alt="achievement">
                <img class="leaderboardImage" src="/images/icon2.png" alt="achievement">
                <img class="leaderboardImage" src="/images/icon3.png" alt="achievement">
            </div>
            <div class="gridElement">
                <h3 class="leaderboardNumber">#2</h3>
                <img class="leaderboardImage" src="/images/reinier.jpg" alt="profile">
                <h4 class="leaderboardName">Monika</h4>
                <img class="leaderboardImage" src="/images/icon4.png" alt="achievement">
                <img class="leaderboardImage" src="/images/icon3.png" alt="achievement">
                <img class="leaderboardImage" src="/images/icon1.png" alt="achievement">
            </div>
            <div class="gridElement">
                <h3 class="leaderboardNumber">#3</h3>
                <img class="leaderboardImage" src="/images/reinier.jpg" alt="profile">
                <h4 class="leaderboardName">Michel</h4>
                <img class="leaderboardImage" src="/images/icon3.png" alt="achievement">
                <img class="leaderboardImage" src="/images/icon4.png" alt="achievement">
                <img class="leaderboardImage" src="/images/icon2.png" alt="achievement">
            </div>
            <div class="gridElement">
                <h3 class="leaderboardNumber">#4</h3>
                <img class="leaderboardImage" src="/images/reinier.jpg" alt="profile">
                <h4 class="leaderboardName">Max</h4>
                <img class="leaderboardImage" src="/images/icon2.png" alt="achievement">
                <img class="leaderboardImage" src="/images/icon3.png" alt="achievement">
                <img class="leaderboardImage" src="/images/icon1.png" alt="achievement">
            </div>
            <div class="gridElement">
                <h3 class="leaderboardNumber">#5</h3>
                <img class="leaderboardImage" src="/images/stefan.jpg" alt="profile">
                <h4 class="leaderboardName">Stefan</h4>
                <img class="leaderboardImage" src="/images/icon1.png" alt="achievement">
                <img class="leaderboardImage" src="/images/icon4.png" alt="achievement">
                <img class="leaderboardImage" src="/images/icon2.png" alt="achievement">
            </div>
        </div>
    </div>
</div>

{{> thumbs-up}}

<script src="js/leaderboard.js"></script>