{{> onboarding-header}}

<form id="regForm" formaction="/get-started" method="post" novalidate>
    <!-- One "tab" for each step in the form: -->
    <div class="flex-column">
        <div class="tab">
            <h1>Creeer je lyvup omgeving</h1>
            <p>Creëer een geheel nieuwe werkruimte voor jou en je team.
            </p>
            <label>Als eerste hebben wij jouw email nodig:
                <input placeholder="wat is je email?" oninput="this.className = ''" autocomplete="new-password">
            </label>
        </div>
        <div class="tab">
            <h1>Dankjewel, check je inbox!</h1>
            <p>We hebben een code naar mail@adres.nl gestuurd om je email te valideren</p>
            <label>Vul hier de validatie code in
                <input id="code" oninput="this.className = ''" autocomplete="new-password" pattern="\d*" maxlength="4">
            </label>

            <a href="">stuur de code opnieuw</a>
        </div>
        <div class="tab">
            <h1>Over jouw werkomgeving</h1>
            <label>Wat is de naam van het bedrijf?
                <input oninput="this.className = ''" autocomplete="new-password">
            </label>

            <label>En in welk team zit je?
                <input oninput="this.className = ''" autocomplete="new-password">
            </label>
        </div>
        <div class="tab">
            <h1>Werk omgeving creeeren is gelukt!</h1>
            <p>Je kunt nu je team opzetten en de applicatie ontdekken!</p>
            <button type="submit" id="done">Ga naar je werkomgeving op
                lyvup</button>
        </div>

        <div>
            <div>
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
            <!-- Circles which indicates the steps of the form: -->
            <div class="steps">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
            </div>
        </div>
    </div>
</form>

<script src="js/onboarding.js"></script>