{{> header}}

<div id="content__container">
    <div id="main__container">
        <h1>Monika Streljajeva</h1>
        <div id="messages__container">
            <div class="message">
                <div class="image__container">
                    <img src="/images/stefan.jpg" alt="">
                    <span>Karma: 100</span>
                </div>
                {{!-- <div class="container2 flex">
                    <table>
                        <tbody>
                            <tr>
                                <td class="bodyTextBold">Organisatie</td>
                                <td> Hogeschool van Amsterdam</td>
                            </tr>
                            <tr>
                                <td class="bodyTextBold">Afdeling</td>
                                <td>CMD</td>
                            </tr>
                            <tr>
                                <td class="bodyTextBold">Lyvup Team</td>
                                <td>Meesterproef, Meester 2</td>
                            </tr>
                            <tr>
                                <td class="bodyTextBold">Hobbies</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="bodyTextBold">Over jezelf</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div> --}}

                <div class="container3">
                    <div class="container2 flex">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="bodyTextBold">Organisatie</td>
                                    <td> Hogeschool van Amsterdam</td>
                                </tr>
                                <tr>
                                    <td class="bodyTextBold">Afdeling</td>
                                    <td>CMD</td>
                                </tr>
                                <tr>
                                    <td class="bodyTextBold">Lyvup Team</td>
                                    <td>Meesterproef, Meester 2</td>
                                </tr>
                                <tr>
                                    <td class="bodyTextBold">Hobbies</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bodyTextBold">Over jezelf</td>
                                    <td></td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <h3>Mijn doelen</h3>

        <div id="goals__container">
            <div class="goal__container">
                <div>
                    <div class="goal-buttons__container">
                        <span class="goal-type">Samenwerken</span><span class="goal-type2">Verbeteren</span>
                    </div>
                    <img src="/images/goals_icon.svg" alt="">
                </div>
                <div>
                    <p>Beter worden in samen werken door vaker te communiceren</p>
                </div>
            </div>
            <div class="goal__container">
                <div>
                    <div class="goal-buttons__container">
                        <span class="goal-type">Proactief</span><span class="goal-type2">Verbeteren</span>
                    </div>
                    <img src="/images/goals_icon.svg" alt="">
                </div>
                <div>
                    <p>Test doel</p>
                </div>
            </div>
        </div>
    </div>
    <div id="super-goals__container">
        <h1>Mijn achievements</h1>

    </div>
</div>

{{> thumbs-up}}

<script src="js/feedback.js"></script>