<div id="page">

    {{> new-header}}

    {{!-- left container --}}
    <div id="content__container">
        <div id="main__container">
            <div class="flex">
                <h1>Stefan Gerrits</h1>
                <button class="left__margin">Edit</button>

            </div>

            <div id="profile__main__container">
                <div class="message">
                    <div class="image__container">
                        <img src="/images/stefan.jpg" alt="">
                        <span>Karma: 100</span>
                    </div>
                    <div class="container3">
                        <div class="container2 flex">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="bodyTextBold">Organisatie</td>
                                        <td> Hogeschool van Amsterdam</td>
                                    </tr>
                                    <tr>
                                        <td class="bodyTextBold">Afdeling</td>
                                        <td>CMD</td>
                                    </tr>
                                    <tr>
                                        <td class="bodyTextBold">Lyvup Team</td>
                                        <td>Meesterproef, Meester 2</td>
                                    </tr>
                                    <tr>
                                        <td class="bodyTextBold">Hobbies</td>
                                        <td>Muziek, gamen, uitgaan</td>
                                    </tr>
                                    <tr>
                                        <td class="bodyTextBold">Over jezelf</td>
                                        <td>Ik voel me een echte teamspeler</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



            <div class="profile__bottom">
                <div>
                    <div class="flex">
                        <img src="/images/goals_icon.svg" alt="">
                        <h3>Doelen</h3>
                    </div>

                    <div class="profile__goals__container">
                        <div class="goal__profile">
                            <div class="goal-buttons__container">
                                <span class="goal-type">Samenwerken</span><img class="goal-type-image"
                                    src='./images/Improve.svg' alt=""><span class="goal-type2">Verbeteren</span>
                            </div>
                            <div>
                                <p>Beter worden in samen werken door vaker te communiceren</p>
                            </div>
                        </div>
                        <div class="goal__profile">
                            <div class="goal-buttons__container">
                                <span class="goal-type">Proactief</span><img class="goal-type-image"
                                    src='./images/Improve.svg' alt=""><span class="goal-type2">Verbeteren</span>
                            </div>
                            <div>
                                <p>Test doel</p>
                            </div>
                        </div>
                        <div class="goal__profile">
                            <div class="goal-buttons__container">
                                <span class="goal-type">Proactief</span><img class="goal-type-image"
                                    src='./images/Improve.svg' alt=""><span class="goal-type2">Verbeteren</span>
                            </div>
                            <div>
                                <p>Nog een doel</p>
                            </div>
                        </div>
                        <div class="goal__profile">
                            <div class="goal-buttons__container">
                                <span class="goal-type">Proactief</span><img class="goal-type-image"
                                    src='./images/Improve.svg' alt=""><span class="goal-type2">Verbeteren</span>
                            </div>
                            <div>
                                <p>Wow zo veel doelen</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="flex">
                        <img src="/images/skills_icon.svg" alt="">
                        <h3>Sterke kanten</h3>
                    </div>
                    <div class="profile__sides__container">
                        <p class="sides__container">Samenwerken</p>
                        <p class="sides__container">Communicatie</p>
                        <p class="sides__container">Eerlijkheid</p>
                        <p class="sides__container">Leiderschap</p>
                        <p class="sides__container">Dankbaarheid</p>
                    </div>
                </div>
            </div>
        </div>

        {{!-- right container --}}
        <div id="profile__right__container">
            <h2>Mijn achievements</h2>
            <div class="profile__grid__container">
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon1.png"></div>
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon3.png"></div>
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon4.png"></div>
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon2.png"></div>
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon4.png"></div>
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon1.png"></div>
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon2.png"></div>
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon3.png"></div>
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon4.png"></div>
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon2.png"></div>
            </div>

            <h2>Challenges</h2>

            <div class="profile__challenge__container">
                <div>
                    <h4>Individueel</h4>
                    <div class="profile__individual">
                        <div class="profile__challange">
                            <p class="bodyTextBold">Complimenten geven</p>
                            <p>Geef 100 complimenten voor de gegeven tijd.</p>
                            <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                        </div>
                        <div class="profile__challange">
                            <p class="bodyTextBold">Complimenten geven</p>
                            <p>Geef 100 complimenten voor de gegeven tijd.</p>
                            <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                        </div>
                        <div class="profile__challange">
                            <p class="bodyTextBold">Complimenten geven</p>
                            <p>Geef 100 complimenten voor de gegeven tijd.</p>
                            <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                        </div>
                    </div>
                </div>
                <div>
                    <h4>Team</h4>
                    <div class="profile__individual">
                        <div class="profile__challange">
                            <p class="bodyTextBold">Complimenten geven</p>
                            <p>Geef 100 complimenten voor de gegeven tijd.</p>
                            <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                        </div>
                        <div class="profile__challange">
                            <p class="bodyTextBold">Complimenten geven</p>
                            <p>Geef 100 complimenten voor de gegeven tijd.</p>
                            <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                        </div>
                        <div class="profile__challange">
                            <p class="bodyTextBold">Complimenten geven</p>
                            <p>Geef 100 complimenten voor de gegeven tijd.</p>
                            <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                        </div>
                        <div class="profile__challange">
                            <p class="bodyTextBold">Complimenten geven</p>
                            <p>Geef 100 complimenten voor de gegeven tijd.</p>
                            <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="challengeButton">Add challenge</button>

        </div>
    </div>
</div>

{{> thumbs-up}}
{{> footer}}


<script src="js/profile.js"></script>