<div id="page">
    {{> new-header}}

    <div id="content__container">
        <div id="teamoverview__container">
            <h1>Team</h1>

            <div id="team__container">
                <div class="profile__container">
                    <div>
                        <img src="/images/stefan.jpg" alt="">
                        <div class="profileinfo__container">
                            <div class="flex-container">
                                <div class="profileinfo-meta">
                                    <a href="/profile">Stefan Gerrits</a>
                                    <p>teamspeler</p>
                                </div>
                                <button class="info__container">i</button>
                            </div>
                        </div>
                    </div>
                    <div class="flex-wrap">
                        <div class="strong-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Sterke kanten</h3>
                            </div>
                            <div class="strong__super-container ">
                                <div class="strong__container">
                                    <span>enthousiasme en passie</span>
                                </div>
                                <div class="strong__container">
                                    <span>humor en speelsheid</span>
                                </div>
                                <div class="strong__container">
                                    <span>vergevingsgezindheid</span>
                                </div>
                                <div class="strong__container">
                                    <span>zingeving</span>
                                </div>
                                <div class="strong__container">
                                    <span>optimisme</span>
                                </div>
                            </div>
                        </div>
                        <div class="goal-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Doelen</h3>
                            </div>
                            <div class="goalsuper-container">
                                <article class="goal__container">
                                    <div class="flex">
                                        <div class="goal-buttons__container">
                                            <span class="goal-type">Samenwerken</span>
                                            <span class="goal-type2">Verbeteren</span>
                                            <span class="goal-estimate">12 uur resterend</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Beter worden in samen werken door vaker te communiceren</p>
                                    </div>
                                </article>
                                <article class="goal__container">
                                    <div class="flex">
                                        <div class="goal-buttons__container">
                                            <span class="goal-type">Samenwerken</span>
                                            <span class="goal-type2">Verbeteren</span>
                                            <span class="goal-estimate">12 uur resterend</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Beter worden in samen werken door vaker te communiceren</p>
                                    </div>
                                </article>
                                <article class="goal__container">
                                    <div class="flex">
                                        <div class="goal-buttons__container">
                                            <span class="goal-type">Samenwerken</span>
                                            <span class="goal-type2">Verbeteren</span>
                                            <span class="goal-estimate">12 uur resterend</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Beter worden in samen werken door vaker te communiceren</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="achievement-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Achievements</h3>
                            </div>
                            <div class="achievement__super-container">
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon1.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon3.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon4.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon2.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon4.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon1.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon2.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon3.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon4.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon2.png"></div>
                            </div>
                        </div>

                        <div class="challenges-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Challenges</h3>
                            </div>
                            <div class="challenge__super-container">
                                <div class="profile__challange">
                                    <p class="bodyTextBold">Complimenten geven</p>
                                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                                </div>
                                <div class="profile__challange">
                                    <p class="bodyTextBold">Complimenten geven</p>
                                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                                </div>
                                <div class="profile__challange">
                                    <p class="bodyTextBold">Complimenten geven</p>
                                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile__container">
                    <div>
                        <img src="/images/reinier.jpg" alt="">
                        <div class="profileinfo__container">
                            <div class="flex-container">
                                <div class="profileinfo-meta">
                                    <a href="/profile">Reinier van Limpt</a>
                                    <p>teamspeler</p>
                                </div>
                                <button class="info__container">i</button>
                            </div>
                        </div>
                    </div>
                    <div class="flex-wrap">
                        <div class="strong-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Sterke kanten</h3>
                            </div>
                            <div class="strong__super-container ">
                                <div class="strong__container">
                                    <span>enthousiasme en passie</span>
                                </div>
                                <div class="strong__container">
                                    <span>humor en speelsheid</span>
                                </div>
                                <div class="strong__container">
                                    <span>vergevingsgezindheid</span>
                                </div>
                                <div class="strong__container">
                                    <span>zingeving</span>
                                </div>
                                <div class="strong__container">
                                    <span>optimisme</span>
                                </div>
                            </div>
                        </div>
                        <div class="goal-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Doelen</h3>
                            </div>
                            <div class="goalsuper-container">
                                <article class="goal__container">
                                    <div class="flex">
                                        <div class="goal-buttons__container">
                                            <span class="goal-type">Samenwerken</span>
                                            <span class="goal-type2">Verbeteren</span>
                                            <span class="goal-estimate">12 uur resterend</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Beter worden in samen werken door vaker te communiceren</p>
                                    </div>
                                </article>
                                <article class="goal__container">
                                    <div class="flex">
                                        <div class="goal-buttons__container">
                                            <span class="goal-type">Samenwerken</span>
                                            <span class="goal-type2">Verbeteren</span>
                                            <span class="goal-estimate">12 uur resterend</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Beter worden in samen werken door vaker te communiceren</p>
                                    </div>
                                </article>
                                <article class="goal__container">
                                    <div class="flex">
                                        <div class="goal-buttons__container">
                                            <span class="goal-type">Samenwerken</span>
                                            <span class="goal-type2">Verbeteren</span>
                                            <span class="goal-estimate">12 uur resterend</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Beter worden in samen werken door vaker te communiceren</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="achievement-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Achievements</h3>
                            </div>
                            <div class="achievement__super-container">
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon1.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon3.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon4.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon2.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon4.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon1.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon2.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon3.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon4.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon2.png"></div>
                            </div>
                        </div>

                        <div class="challenges-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Challenges</h3>
                            </div>
                            <div class="challenge__super-container">
                                <div class="profile__challange">
                                    <p class="bodyTextBold">Complimenten geven</p>
                                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                                </div>
                                <div class="profile__challange">
                                    <p class="bodyTextBold">Complimenten geven</p>
                                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                                </div>
                                <div class="profile__challange">
                                    <p class="bodyTextBold">Complimenten geven</p>
                                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile__container">
                    <div>
                        <img src="/images/reinier.jpg" alt="">
                        <div class="profileinfo__container">
                            <div class="flex-container">
                                <div class="profileinfo-meta">
                                    <a href="/profile">Monika Streljajeva</a>
                                    <p>teamspeler</p>
                                </div>
                                <button class="info__container">i</button>
                            </div>
                        </div>
                    </div>
                    <div class="flex-wrap">
                        <div class="strong-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Sterke kanten</h3>
                            </div>
                            <div class="strong__super-container ">
                                <div class="strong__container">
                                    <span>enthousiasme en passie</span>
                                </div>
                                <div class="strong__container">
                                    <span>humor en speelsheid</span>
                                </div>
                                <div class="strong__container">
                                    <span>vergevingsgezindheid</span>
                                </div>
                                <div class="strong__container">
                                    <span>zingeving</span>
                                </div>
                                <div class="strong__container">
                                    <span>optimisme</span>
                                </div>
                            </div>
                        </div>
                        <div class="goal-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Doelen</h3>
                            </div>
                            <div class="goalsuper-container">
                                <article class="goal__container">
                                    <div class="flex">
                                        <div class="goal-buttons__container">
                                            <span class="goal-type">Samenwerken</span>
                                            <span class="goal-type2">Verbeteren</span>
                                            <span class="goal-estimate">12 uur resterend</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Beter worden in samen werken door vaker te communiceren</p>
                                    </div>
                                </article>
                                <article class="goal__container">
                                    <div class="flex">
                                        <div class="goal-buttons__container">
                                            <span class="goal-type">Samenwerken</span>
                                            <span class="goal-type2">Verbeteren</span>
                                            <span class="goal-estimate">12 uur resterend</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Beter worden in samen werken door vaker te communiceren</p>
                                    </div>
                                </article>
                                <article class="goal__container">
                                    <div class="flex">
                                        <div class="goal-buttons__container">
                                            <span class="goal-type">Samenwerken</span>
                                            <span class="goal-type2">Verbeteren</span>
                                            <span class="goal-estimate">12 uur resterend</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Beter worden in samen werken door vaker te communiceren</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="achievement-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Achievements</h3>
                            </div>
                            <div class="achievement__super-container">
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon1.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon3.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon4.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon2.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon4.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon1.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon2.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon3.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon4.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon2.png"></div>
                            </div>
                        </div>

                        <div class="challenges-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Challenges</h3>
                            </div>
                            <div class="challenge__super-container">
                                <div class="profile__challange">
                                    <p class="bodyTextBold">Complimenten geven</p>
                                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                                </div>
                                <div class="profile__challange">
                                    <p class="bodyTextBold">Complimenten geven</p>
                                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                                </div>
                                <div class="profile__challange">
                                    <p class="bodyTextBold">Complimenten geven</p>
                                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile__container">
                    <div>
                        <img src="/images/reinier.jpg" alt="">
                        <div class="profileinfo__container">
                            <div class="flex-container">
                                <div class="profileinfo-meta">
                                    <a href="/profile">Michel Abdad</a>
                                    <p>teamspeler</p>
                                </div>
                                <button class="info__container">i</button>
                            </div>
                        </div>
                    </div>
                    <div class="flex-wrap">
                        <div class="strong-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Sterke kanten</h3>
                            </div>
                            <div class="strong__super-container ">
                                <div class="strong__container">
                                    <span>enthousiasme en passie</span>
                                </div>
                                <div class="strong__container">
                                    <span>humor en speelsheid</span>
                                </div>
                                <div class="strong__container">
                                    <span>vergevingsgezindheid</span>
                                </div>
                                <div class="strong__container">
                                    <span>zingeving</span>
                                </div>
                                <div class="strong__container">
                                    <span>optimisme</span>
                                </div>
                            </div>
                        </div>
                        <div class="goal-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Doelen</h3>
                            </div>
                            <div class="goalsuper-container">
                                <article class="goal__container">
                                    <div class="flex">
                                        <div class="goal-buttons__container">
                                            <span class="goal-type">Samenwerken</span>
                                            <span class="goal-type2">Verbeteren</span>
                                            <span class="goal-estimate">12 uur resterend</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Beter worden in samen werken door vaker te communiceren</p>
                                    </div>
                                </article>
                                <article class="goal__container">
                                    <div class="flex">
                                        <div class="goal-buttons__container">
                                            <span class="goal-type">Samenwerken</span>
                                            <span class="goal-type2">Verbeteren</span>
                                            <span class="goal-estimate">12 uur resterend</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Beter worden in samen werken door vaker te communiceren</p>
                                    </div>
                                </article>
                                <article class="goal__container">
                                    <div class="flex">
                                        <div class="goal-buttons__container">
                                            <span class="goal-type">Samenwerken</span>
                                            <span class="goal-type2">Verbeteren</span>
                                            <span class="goal-estimate">12 uur resterend</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Beter worden in samen werken door vaker te communiceren</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="achievement-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Achievements</h3>
                            </div>
                            <div class="achievement__super-container">
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon1.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon3.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon4.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon2.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon4.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon1.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon2.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon3.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon4.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon2.png"></div>
                            </div>
                        </div>

                        <div class="challenges-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Challenges</h3>
                            </div>
                            <div class="challenge__super-container">
                                <div class="profile__challange">
                                    <p class="bodyTextBold">Complimenten geven</p>
                                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                                </div>
                                <div class="profile__challange">
                                    <p class="bodyTextBold">Complimenten geven</p>
                                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                                </div>
                                <div class="profile__challange">
                                    <p class="bodyTextBold">Complimenten geven</p>
                                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile__container">
                    <div>
                        <img src="/images/reinier.jpg" alt="">
                        <div class="profileinfo__container">
                            <div class="flex-container">
                                <div class="profileinfo-meta">
                                    <a href="/profile">Max Weijers</a>
                                    <p>teamspeler</p>
                                </div>
                                <button class="info__container">i</button>
                            </div>
                        </div>
                    </div>
                    <div class="flex-wrap">
                        <div class="strong-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Sterke kanten</h3>
                            </div>
                            <div class="strong__super-container ">
                                <div class="strong__container">
                                    <span>enthousiasme en passie</span>
                                </div>
                                <div class="strong__container">
                                    <span>humor en speelsheid</span>
                                </div>
                                <div class="strong__container">
                                    <span>vergevingsgezindheid</span>
                                </div>
                                <div class="strong__container">
                                    <span>zingeving</span>
                                </div>
                                <div class="strong__container">
                                    <span>optimisme</span>
                                </div>
                            </div>
                        </div>
                        <div class="goal-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Doelen</h3>
                            </div>
                            <div class="goalsuper-container">
                                <article class="goal__container">
                                    <div class="flex">
                                        <div class="goal-buttons__container">
                                            <span class="goal-type">Samenwerken</span>
                                            <span class="goal-type2">Verbeteren</span>
                                            <span class="goal-estimate">12 uur resterend</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Beter worden in samen werken door vaker te communiceren</p>
                                    </div>
                                </article>
                                <article class="goal__container">
                                    <div class="flex">
                                        <div class="goal-buttons__container">
                                            <span class="goal-type">Samenwerken</span>
                                            <span class="goal-type2">Verbeteren</span>
                                            <span class="goal-estimate">12 uur resterend</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Beter worden in samen werken door vaker te communiceren</p>
                                    </div>
                                </article>
                                <article class="goal__container">
                                    <div class="flex">
                                        <div class="goal-buttons__container">
                                            <span class="goal-type">Samenwerken</span>
                                            <span class="goal-type2">Verbeteren</span>
                                            <span class="goal-estimate">12 uur resterend</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Beter worden in samen werken door vaker te communiceren</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="achievement-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Achievements</h3>
                            </div>
                            <div class="achievement__super-container">
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon1.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon3.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon4.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon2.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon4.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon1.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon2.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon3.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon4.png"></div>
                                <div id="achievement__container" class="profile__grid__element hint--left"><img
                                        class="achievementIcon" src="/images/icon2.png"></div>
                            </div>
                        </div>

                        <div class="challenges-wrapper">
                            <div class="flex-container2">
                                <img src="./images/goals_icon.svg" alt="">
                                <h3>Challenges</h3>
                            </div>
                            <div class="challenge__super-container">
                                <div class="profile__challange">
                                    <p class="bodyTextBold">Complimenten geven</p>
                                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                                </div>
                                <div class="profile__challange">
                                    <p class="bodyTextBold">Complimenten geven</p>
                                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                                </div>
                                <div class="profile__challange">
                                    <p class="bodyTextBold">Complimenten geven</p>
                                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="team-aside__container">
            <h1>Team info</h1>
            <p>Team karma: 3400</p>

            <h4>Uitgelichte teamgenoten</h4>
            <div class="container">
                <div class="player__container">
                    <div>
                        <img src="/images/stefan.jpg" alt="">
                        <div class="playerinfo__container">
                            <div>
                                <a href="">Stefan Gerrits</a>
                                <p>Kan wel een steuntje gebruiken</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="player__container">
                    <div>
                        <img src="/images/stefan.jpg" alt="">
                        <div class="playerinfo__container">
                            <div>
                                <a href="">Stefan Gerrits</a>
                                <p>Meeste complimenten gegeven</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="player__container">
                    <div>
                        <img src="/images/stefan.jpg" alt="">
                        <div class="playerinfo__container">
                            <div>
                                <a href="">Stefan Gerrits</a>
                                <p>Meeste complimenten gekregen</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h4>Team statistieken</h4>

            <div class="container">

                <div class="statistic__container">
                    <p>Totaal team doelen</p>
                    <div id="all-team-goals">
                        <h3>20</h3>
                    </div>
                </div>

                <div class="statistic__container">
                    <p>Waarvan voltooid</p>
                    <div id="completer-team-goals">
                        <h3>8</h3>
                    </div>
                </div>

                <div class="statistic__container">
                    <p>Totaal team complimenten</p>
                    <div id="all-team-compliments">
                        <h3>55</h3>
                    </div>
                </div>

                <div class="statistic__container">
                    <p>Waarvan van mij</p>
                    <div id="my-team-compliments">
                        <h3>13</h3>
                    </div>
                </div>

            </div>

            <h4> Team achievements</h4>
            <div class="profile__grid__container">
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon1.png"></div>
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon3.png"></div>
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon4.png"></div>
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon2.png"></div>
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon4.png"></div>
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon1.png"></div>
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon2.png"></div>
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon3.png"></div>
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon4.png"></div>
                <div id="achievement__container" class="profile__grid__element hint--left"><img class="achievementIcon"
                        src="/images/icon2.png"></div>

            </div>

            <h4>Team challenges</h4>
            <div class="profile__challange__container">
                <div class="profile__challange">
                    <p class="bodyTextBold">Complimenten geven</p>
                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                </div>
                <div class="profile__challange">
                    <p class="bodyTextBold">Complimenten geven</p>
                    <p>Geef 100 complimenten voor de gegeven tijd.</p>
                    <p class="bodyTextItalic">03-06-2020 - 05-05-2020</p>
                </div>
            </div>
        </div>
    </div>

    {{> thumbs-up}}
</div>

<script src="js/team.js"></script>