{{> header}}

<div id="content__container">
    <div id="main__container">
        <h1>Team</h1>
        <div class="select">
            <select name="teams">
                <option value="sample">meesterproef</option>
                <option value="sample">meesterproef 2</option>
            </select>
        </div>

        <div id="team__container">
            <div class="profile__container">
                <div>
                    <img src="/images/reinier.jpg" alt="">
                    <div class="profileinfo__container">
                        <div>
                            <a href="">Reinier van limpt</a>
                            <p>teamspeler</p>
                        </div>
                        <div class="info__container">
                            <h1>i</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile__container">
                <div>
                    <img src="/images/stefan.jpg" alt="">
                    <div class="profileinfo__container">
                        <div>
                            <a href="">Stefan Gerrits</a>
                            <p>teamspeler</p>
                        </div>
                        <div class="info__container">
                            <h1>i</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile__container">
                <div>
                    <img src="/images/reinier.jpg" alt="">
                    <div class="profileinfo__container">
                        <div>
                            <a href="">Reinier van limpt</a>
                            <p>teamspeler</p>
                        </div>
                        <div class="info__container">
                            <h1>i</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile__container">
                <div>
                    <img src="/images/stefan.jpg" alt="">
                    <div class="profileinfo__container">
                        <div>
                            <a href="">Stefan Gerrits</a>
                            <p>teamspeler</p>
                        </div>
                        <div class="info__container">
                            <h1>i</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="super-goals__container">
        <h1>Mijn team</h1>

        <h4>Team spelers van de week</h4>

        <h4>Mijn team statistieken</h4>
    </div>
</div>

<div class="popup__container">
    <div id="popup">
        <div>Doelen</div>
        <div>sterkte kanten</div>
    </div>
</div>

<script src="js/team.js"></script>