.assessment__box {
    width: 15em;
    padding: 0.75em;
    text-align: center;
}

.assessment__active__right {
    border-right: 10px solid $yellow;
}

.assessment__active__left {
    border-left: 10px solid $yellow;
}

.assessment__name {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.assessment__container {
    align-items: center;
    margin: 10px;
    display: flex;
    background-color: $white;
    padding: 1em 0em;
    border-radius: $border-radius-big;
    box-shadow: 0px 2px 0px 1px #e5e5e5;
    position: relative;
    transition: .3s ease-in-out;

    &:hover {
        transform: scale(1.03);
        cursor: pointer;
        transition: .2s ease-in-out;
    }
}

.assessment-image__container {
    margin-left: 1em;
    width: 10em;

    & p {
        margin-left: 0;
        text-align: center;
    }

    & img {
        width: 3em;
        border-radius: 50%;
        display: block;
        margin: 0 auto .5em auto;
    }
}

#assessment-title {
    margin-bottom: .5em!important;
}

.assessment_filter__container {
    display: flex;
    margin: 2em 0em;
}

.assessment-center__container {
    & > h4 {
        margin-bottom: .5em;
    }

    & #messages__container {
        margin-bottom: 3em;
    }

    & label {
        width: 13em!important;
    }
}

.assessment__short__des {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.assessment__stats {
    margin-left: 0.75em;
    margin-right: 0.75em;
}

.assessment__progress__border {
    border-radius: 10px;
    width: 15%;
    background-color: #d0acac;
    text-align: left;
    padding-left: 1px;
    margin-left: 1em;
}

.assessment__progress {
    height: 1.25em;
    color: black;
    background-color: #69bd45;
    border-radius: 10px;
    padding: 1px;
}

.assessment__button {
    margin-left: auto;
    height: 2em;
    box-shadow: 0px 2px 0px 1px #e5e5e5;
    padding: 0;
}

.assessment__title__text {
    margin-top: 1em;
}

.left__auto {
    margin-left: auto;
}

.center__auto {
    margin: auto;
    width: 50%;
}

.assessment__container__right {
    margin: 1em;
    background-color: $white;
    padding: 1em;
    border-radius: $border-radius-big;
    box-shadow: 0px 2px 0px 1px #e5e5e5;
    position: relative;
}

.center__text{
    text-align: center;
}

.center__text{
    text-align: center;
}

.bold{
    font-weight: bold;;
}
