#team2__container,
#option__container {
    display: flex;
    align-items: center;
}

#team2__container {
    margin-top: 3em;

    & > p {
        margin-right: 1.5em;
    }
}

#option__container {
    margin-top: 2em;
    font-family: 'publicSans', sans-serif;

    & > p {
        margin-right: 1em;
    }

    & input[type="radio"] {
        display: none;
    }

    & label {
        cursor: pointer;
        margin-right: 2em;
        padding: 1em;
        border-radius: $border-radius-small;
        border: 1px solid $grey;
        color: $grey;
        font-size: 14px;
    }

    & input[type="radio"]:checked + label {
        cursor: pointer;
        background-color: $red;
        color: $white;
        border: none;
    }
}

#select__container {
    margin-top: 4em;
}

#team-member__container {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

    & > div {
        display: flex;
        flex-direction: column;
        width: 10em;
        margin: 2em auto;

        & img {
            width: 100%;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 1em;
            cursor: pointer;
        }

        & p {
            text-align: center;
        }

        & p:last-of-type {
            color: $grey;
            margin-top: .25em;
            font-size: 14px;
        }
    }
}

#compliment__container {
    & textarea {
        border-radius: $border-radius-small; 
        font-family: 'publicSans', sans-serif;
        background-color: $light-grey;
        padding: 2em;
        border: none;
        margin-top: 2em;
        display: block;

        &:focus {
            outline: none;
        }

        &::placeholder { 
            color: $grey;
        }
    }

    & button {
        margin-top: 2em;
    }
}

#compliment__container {
    width: 90%;
    background-color: $white;
    padding: 2em;
    border-radius: $border-radius-big;
    margin: 2em auto;
}