.goals-head {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;

  & img{
    margin-right: 1em;
    width: 3em;
  }
  & h1{
    width:75%;
    margin-bottom: 0;
  }
}

.complimentsHead {
    height: 8.2em;
    & h1{
      margin-bottom: 1em;
    }
    & span{
      width: 200px;
    }
}

.complimentsButton{
  width: auto;
  height: 30px;
  padding: 5px;
  margin-left: auto;
  background-color: $red;
}

.goals-button{
  position: absolute;
  right: 2em;
  top: 2em;
}

.complimentsButton:hover{
  background-color: #ce2052;
}

.complimentsButton:focus {
  outline: none;
  background-color: $red;
}

.goal-editor {
  font-size: 1em;
  margin-right: 0;
  background-color: $green;
  color: white;
  opacity: 1;
  height: auto;
  position: absolute;
  border-radius: 0px 0px 5px;
  bottom: 0;
  right: -10px;
  text-align: center;
  padding: 4px;
  z-index: 1;
}

.goal-editor:hover {
  transform: scale(1);
}

.goal-editor:focus {
  outline: none;
}


.userImg{
  margin: auto;
  width: 15%;
  border-radius: 100px;
}

.goals-button:focus{
  background-color: $green;
  border: none;
}

.addGoal__form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  & label{
    text-align: center;
  }
}

.addGoals__container{
  border: 2px solid #34b6dd;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
  background-color: #fceed4;
  margin-top: 4em;
  margin-bottom: 1em;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 2px 0 1px #e5e5e5;
  overflow: hidden;
  & h4 {
    width: 100%;
  }
  & .select {
    width: 32%;
    margin: 0.65%;
  }
  & .datePicker {
    width: 32%;
    margin: 0.65%;
    & input {
      font-family: publicSans, sans-serif;
      background-color: #d4d4d4;
      border: none;
      border-radius: 5px;
      padding: 5px;
      height: 100%;
    }
  }
  & .goalDescription {
    margin-top: 20px;
    text-align: left;
    width: 100%;
    & textarea {
      border-radius: 5px;
      font-family: publicSans, sans-serif;
      padding: 2em;
      border: none;
      margin-top: 2em;
      display: block;
      width: 100%;
      height: 100px;
      margin-bottom: 2em;
    }
  }
}

.compliment-message {
  width: 75%;
  padding-left: 10px;
  border-left: 3px solid $red;
}

.compliment__container {
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0px 2px 0px 1px #e5e5e5;
  padding: 1em;
  transition: 200ms ease-in-out;
}

.compliments-buttons__container {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.compliments-buttons__container{
  & p{
  padding: 10px 0px 0px 0px;
  width: 75%;
  }
  & .goal-type{
    margin-left: auto;
    width: auto;
  }
}

.goal-estimate {
  font-size: 0.8em;
    text-align: right;
    width: 65%;
    color: #008000;
}

.goal-indicator{
    width: 200px;
    margin: 8px;
    text-align: center;
    padding: .5em;
    border-radius: $border-radius-small;
    font-size: 13px;
}

.goal-deleter {
  font-size: 1em;
  margin-right: 1em;
  margin-bottom: 10px;
  text-decoration: underline;
  text-align: center;
  padding: 0 !important;
  height: 1.2em !important;
  background-color: transparent !important;
  color: red !important;
}

.goal-type-container{
  width: 200px;
}

.indicator-inactive {
  background-color: none;
  color: black;
}

.indicator-active {
  background-color: $light-blue;
  color: $white;
}

#completedGoals__container {
    padding: 10px;
    background-color: #c5d6d5;
    border-radius: 10px;
    max-height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
}

.id-getter{
  display: none;
}

#edit-goals__container {
  overflow: hidden;
  border-radius: 0px 0px 0px 10px;
  background-color: #fceed4;
  flex-wrap: wrap;
  cursor: default;
  & .id-getter{
    display: none;
  }
  & .select {
    width: 25%;
    font-size: 12px;
  }
  & .datePicker {
    & input {
      font-family: publicSans,sans-serif;
      background-color: #d4d4d4;
      border: none;
      border-radius: 5px;
      padding: 5px;
      height: 100%;
    }
  }
  & .goalDescription {
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    & label {
      margin-top: 1em;
      width: 20%;
    }
    & .new-goalText {
      width: 100% !important;
      border-radius: 5px;
      font-family: publicSans,sans-serif;
      padding: 1em;
      border: none;
      margin-top: 0em;
      display: block;
      width: 100%;
      height: 60px;
      margin-bottom: 0em;
    }
    & .submitGoal {
      height: auto;
      margin-top: 10px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

aside{
  width: 150px;
}

.compliment__container {
  box-sizing: border-box;
  border-left: 10px solid white;
}

.my__goal__container {
  box-sizing: border-box;
  border-right: 10px solid white !important;
}

.active-section {
  box-sizing: border-box;
  border-color: $light-blue !important;
}

.goals-aside {
  height: 45em !important;
  background-image: none !important;
}

.expandSmall {
  animation: expandSmall 0.3s linear alternate;
}

.shrinkSmall {
  animation: shrinkSmall 0.3s linear alternate;
}

.expand {
  animation: expand 0.3s linear alternate;
}

.shrink {
  animation: shrink 0.3s linear alternate;
}

.hidden{
  display: none !important;
}

.visible{
  display: flex !important;
}

.invisible{
  display: none;
}

.flashed {
  animation: shortFlash 0.3s linear alternate;
}

.red {
  background-color: $red;
}

@keyframes shortFlash {
  0% {transform: scale(1.00);}
  30% {transform: scale(1.005);}
  100% {transform: scale(1.00);}
}

@keyframes expand {
  0% {height: 1em}
  100% {height: 30em}
}

@keyframes shrink {
  0% {height: 30em}
  100% {height: 1em}
}

@keyframes expandSmall {
  0% {height: 1em}
  100% {height: 14em}
}

@keyframes shrinkSmall {
  0% {height: 14em}
  100% {height: 1em}
}
