.dashboard__container {
  width: 100%;
  display: flex;
}

.profile__aside {
  background-color: $white;
  padding: 2em;
  border-radius: 10px;
  margin-bottom: 2em;
  box-shadow: 0 2px 0 1px #e5e5e5;
}

.center__container {
  background-color: $white;
  padding: 2.1em 3em 3em 3em;
  width: 65%;
  height: 100vw;
  overflow-y: auto;
}

.right__container {
  background-color: $background-color;
  padding: 2.1em 3em 3em 3em;
  width: 35%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.profile__picture {
  height: 8em;
  width: 8em;
  border-radius: 50%;
  margin-right: 10px;
}

.dash_profile__container {
  display: flex;

  & div {
    width: 100%;
    margin-left: 1em;
  }
}

.dash_active__container {
  display: flex;
}

.active__challenges {
  margin-top: 2em;
  margin-right: 0;

  & > div {
    width: 100%;

    & > div {
      width: 50%;
      margin: 1em 0 0 0;
    }

    & > div:first-of-type {
      margin-right: 1em;
    }
  }
}

.activity__container {
  background-color: $light-grey;
  border-radius: 10px;
  padding: 10px;
  background-image: url(/images/background.png);
  background-size: 500%;
  display: flex;
  flex-direction: column;
  height: 85vh;
  overflow-y: auto;
}


.activity__card {
  background-color: $white;
  border-radius: 10px;
  padding: 1em;
  margin: 10px;
  transition: 200ms ease-in-out;
  box-shadow: 0 2px 0 1px #e5e5e5;
  display: flex;

  & img {
    max-height: 3em;
    width: 3em;
    margin-right: 1em;
    border-radius: 50%;
  }
}

.card__container {
  display: flex;
  flex-wrap: wrap;
}

.card__header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-left: 2px solid $red;
  padding-left: 1em;

  & h4 {
    font-size: 16px;
    width: 65%;
  }

  & span {
    width: 35%;
    margin-left: auto;
    text-align: right;
  }

  & p {
    width: 100%;
    margin: 1em 0;
  }
}

.receivers_tooltip {
  max-height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: $light-grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.receivers {
  display: flex;
  width: 100%;
}

#more {
  display: none;
}

#moreButton {
  margin-top: 10px;
  width: auto;
  height: 35px;
}

.dash_filter__container {
  display: flex;
  margin-bottom: 2em;
  justify-content: space-between;



  & div:nth-of-type(1) {
    display: flex;

    & button {
      display: flex;
      justify-content: space-between;
      align-items: center;


      & img {
        margin-left: 1em;
      }
    }

    & #compliment_dash {
      width: 13em;
      background-color: $red;
    }

    & #goal_dash {
      width: 11em;
      background-color: $light-blue;
    }
  }
}

.new__card {
  background-color: $white;
  border-radius: 10px;
  padding: 1em;
  margin: 10px;
  transition: 200ms ease-in-out;
  box-shadow: 0 2px 0 1px #e5e5e5;
  display: flex;

  &:hover {
    transform: scale(1.02);
    transition: .2s ease-in-out;
    cursor: pointer;
  }

  & .new__card_sender {
    margin-right: 1em;

    & img {
      max-height: 3em;
      width: 3em;
      border-radius: 50%;
    }
  }

  & .new__card_content {
    display: flex;
    flex-direction: column;
    width: 100%;

    & .new__card_header {
      display: flex;
      justify-content: space-between;
      padding: 0 0 1em 1em;
      border-left: 2px solid $red;

      & h4 {
        font-size: 14px;
      }

      & span {
        color: $grey;
      }
    }

    & .new__card_message {
      padding: 0 0 1em 1em;
      border-left: 2px solid $red;
    }

    & .new__card_receivers {
      display: flex;
      align-self: flex-end;

      & img {
        max-height: 3em;
        width: 3em;
        border-radius: 50%;
        margin-right: 1em;
      }
    }

    & .expanded__receivers {
      align-self: center;

      & .expanded__item {
        margin-right: 3em;
        text-align: center;

        & img {
          max-height: 3em;
          width: 3em;
          border-radius: 50%;
        }
      }
    }
  }
}

.dash__aside {
  // TO DO
}

.collapse__container {
  display: flex;
  flex-wrap: wrap;

  & .collapsible {
    width: 100%;
    margin: 0;
  }
}

.collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible {
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.dash__button_flex {
  display: flex;
  align-items: center;
}

.dash__notif {
  margin-left: .5em;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.active {
  background-color: $green;
}

.collapsible:after {
  content: '\2207';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2206";
}

#totaal_collapse {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#todo__collapse {
  margin: 1em;
  width: 100%;
}

.data__container {
  font-size: 14px;
  margin: 1em;
  padding: 1em;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 0px 1px #e5e5e5;
}

.todo__item {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: $black;
  padding: 1em;
  background-color: $white;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 0 1px #e5e5e5;
  transition: 200ms ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }
}

.todo__premium {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: $black;
  padding: 1em;
  opacity: .8;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 0 1px #e5e5e5;
  cursor: not-allowed;
  transition: 200ms ease-in-out;
  position: relative;

  &:hover {

    &::before {
      content: "Upgrade naar premium om dit te voltooien";
      position: absolute;
      color: white;
      background-color: black;
      padding: .75em;
      border-radius: $border-radius-small;
      width: 10em;
      font-family: 'publicSans', sans-serif;
      font-size: 14px;
    }
  }
}

.blue__border {
  border-left: 2px solid $light-blue !important;
}