#team__container {
    position: relative;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: $light-grey;
    border-radius: $border-radius-big;
    margin-top: 3em;
    background-image: url(/images/background.png);
    background-size: 500%;
}

.container__teampage {
    display: flex;
}

#teamoverview__container {
    width: 60%;
    height: fit-content;
    margin: 1%;
    background-color: $white;
    padding: 2em;
    border-radius: $border-radius-big;
}

#team-aside__container {
    width: 40%;
    background-color: $white;
    padding: 2em;
    margin: 1%;
    border-radius: $border-radius-big;
}

#team-aside__container h4 {
    margin-top: 1em;
}

.profile__container {
    background-color: white;
    margin: 0.5em 0.3em 0.5em 0.3em;
    padding: 1em;
    width: 14em;
    max-height: 13em;
    color: black;
    transition: 200ms ease-in-out;
    border-radius: $border-radius-big;
    box-shadow: 0px 2px 0px 1px #e5e5e5;
    overflow: hidden;
    z-index: 1;
    display: inline-block;
}

.collapse {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.strong__container {
    margin: 1em;
    padding: .5em 1em .5em 1em;
    transition: .2s ease-in-out;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 0 1px #e5e5e5;
}

.strong__container span {
    font-size: 12px;
}

.container .goal__container span,
.container .goal__container p {
    font-size: 12px;
}

.profile__container a {
    font-family: publicSans-medium;
    color: black;
    transition: 200ms ease-in-out;
}

.container {
    align-items: center;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: $light-grey;
    border-radius: $border-radius-big;
    margin-top: 2em;
    width: 100%;
}

.profile__container h3 {
    margin: 0;
    margin-top: 1em;
    font-size: 15px;
    font-family: publicSans-medium;
}

.profile__container .container {
    margin-top: 0.5em;
}

.profile__container a:hover {
    font-family: publicSans-medium;
    color: $yellow;
}

.profile__container img {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: .75em;
    width: 100px;
    height: 100px;
}

.collapse img {
    margin-left: 1em;
}

.profileinfo__container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.info__container h1 {
    font-size: 14px;
    padding: 0.5em 1em 0.5em 1em;
    color: $white;
    background-color: $green;
    border-radius: 5px;
    box-shadow: 0px 2px 0px 1px #e5e5e5;
    transition: all 200ms ease-in-out;
}

.info__container h1:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 2px 0px 1px transparent;
}

.player__container {
    background-color: white;
    margin: 0.5em;
    padding: 1em;
    width: 8em;
    height: fit-content;
    margin: 0.5em 0.3em 0.5em 0.3em;
    color: black;
    transition: 200ms ease-in-out;
    border-radius: $border-radius-big;
    box-shadow: 0px 2px 0px 1px #e5e5e5;
}

.player__container:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 0px 1px #e5e5e500;
}

.player__container img {
    width: 90px;
    height: 90px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: block;
    background: linear-gradient(-90deg, #ffd000, #ffd000, rgb(252, 30, 97), #ffd000, #ffd000);
    background-size: 400% 400%;
    animation: gradient 15s ease-in-out infinite;
    background-clip: padding-box;
    padding: 3px;
    margin: 0.7em auto;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.playerinfo__container {
    padding: 0;
    text-align: left;
}

.playerinfo__container a {
    font-family: publicSans-medium;
    font-size: 13px;
    color: black;
}

.playerinfo__container p {
    font-size: 11px;
    color: black;
}

.playerinfo__container a:hover {
    color: $yellow;
}

@media screen and (max-width: 1400px) {
    #content__container {
        flex-direction: column;
    }

    #teamoverview__container,
    #team-aside__container {
        width: 100%;
    }

    .goal__container img {
        display: flex;
    }
}

// Mediaqueries
@media screen and (max-width: 600) {
    //
}

.statistic__container {
    font-size: 14px;
    width: 12em;
    margin: 1em;
    padding: 1em;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 0px 1px #e5e5e5;
}

#all-team-goals {
    margin: 0.8em;
    border-left: 5px solid $light-blue;
}

#all-team-goals h3,
#completer-team-goals h3,
#all-team-compliments h3,
#my-team-compliments h3 {
    margin-left: 1em;
}

#completer-team-goals {
    margin: 0.5em;
    border-left: 5px solid $light-blue;
}

#all-team-compliments {
    margin: 0.5em;
    border-left: 5px solid $red;
}

#my-team-compliments {
    margin: 0.5em;
    border-left: 5px solid $red;
}

.strong__container {
    margin: 1em;
    padding: 0.2em 1em 0.2em 1em;
    width: fit-content;
    transition: 200ms ease-in-out;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 0px 1px #e5e5e5;
}