.compliment__animation {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left: -200px; /* negative half of width above */
    margin-top: -200px; /* negative half of height above */
}

$animationtime: 3.5s;
$leafWidth: 150px;


.demo {
    width: $leafWidth * 1.5;
    height: $leafWidth * 1.5;
    position: relative;
}

.leaf {
    width: $leafWidth;
    height: $leafWidth;
    border-radius: $leafWidth 0px;
    background: linear-gradient(45deg, rgba(188, 190, 192, 1) 8%, rgba(158, 31, 99, 1) 30%, rgba(158, 31, 99, 1) 100%);
    position: absolute;
    opacity: 0.8;
    transform-origin: top right;
    transform: rotateZ(135deg);
}

.leaf_1{
    animation: Lotus1 $animationtime forwards 1 cubic-bezier(.78,.92,.77,.71);
}
.leaf_2{
    animation: Lotus2 $animationtime forwards 1 cubic-bezier(.29,.42,.19,.11);
}
.leaf_3{
    animation: Lotus3 $animationtime forwards 1;
}
.leaf_4{
    animation: Lotus4 $animationtime forwards 1;
}
.leaf_5{
    animation: Lotus5 $animationtime forwards 1;
}

//right bottom
@keyframes Lotus1 {
    0% {
        transform: rotateZ(135deg);
    }
    100% {
        transform: rotateZ(225deg);
    }
}

//left bottom
@keyframes Lotus2 {
    0% {
        transform: rotateZ(135deg);
    }
    100% {
        transform: rotateZ(45deg);
    }
}

//left middle
@keyframes Lotus3 {
    0% {
        transform: rotateZ(135deg);
    }
    100% {
        transform: rotateZ(70deg);
    }
}

//right middle
@keyframes Lotus4 {
    0% {
        transform: rotateZ(135deg);
    }
    100% {
        transform: rotateZ(200deg);
    }
}

//right top
@keyframes Lotus5 {
    0% {
        transform: rotateZ(135deg);
    }
    100% {
        transform: rotateZ(180deg);
    }
}
