@font-face {
    font-family: publicSans;
    src: url('/fonts/publicSans/PublicSans-Light.ttf');
    font-display: swap;
}

@font-face {
    font-family: publicSans-medium;
    src: url('/fonts/publicSans/PublicSans-Medium.ttf');
    font-display: swap;
}

@font-face {
    font-family: bitter;
    src: url('/fonts/Bitter/Bitter-Regular.ttf');
    font-display: swap;
}