header {
    font-family: 'publicSans-medium', sans-serif;
    background-color: white;
    display: flex;
    height: 75px;
    align-items: center;
    padding-left: 1em;
    position: sticky;
    top: 0;
    z-index: 999;
}

header img {
    max-height: 30px;
    width: auto;
    margin-right: 1em;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    margin: 0 1.25em;
}

header ul li a {
    text-decoration: none;
    padding: .5em;
    color: $black;

    &:hover {
        color: $yellow;
        transition: 200ms;
        border-bottom: 3px solid $yellow;
    }
}

.active-nav {
    color: $yellow;
    transition: 200ms;
    border-bottom: 3px solid $yellow;
}