// ID's

// classes

.big__grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: fit-content fit-content;
    height: 95%;
    margin: 1em;
    background-color: white;
}

.karma__individual__container{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.karma__team__container{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.challenge__leaderboard__container{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.challenge__achievement__container{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.grid__base{
    min-width: 50%;
    padding: .5em;
    background-color: $white;
}

.grey__Background{
    background-image: url(/images/background.png);
    background-size: 500%;
    padding: .5em;
    border-radius: 10px;
}

.challenges{
    display: flex;
}

.individual__challenge{
    margin: .5em;
    background-image: url(/images/background.png);
    background-size: 500%;
    padding: .5em;
    border-radius: 10px;
    width: 50%;
    height: 100%;
}

.challengeButton{
    margin-top: .5em;;
}

.team__challenge{
    margin: .5em;
    background-image: url(/images/background.png);
    background-size: 500%;
    padding: .5em;
    border-radius: 10px;
    width: 50%;
    height: 100%;
}

.gridElement {
    margin-top: .75em;
    min-height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: $white;
    padding: 0.5em;
    box-shadow: 0px 2px 0px 2px $grey;
}

.leaderboard__challange{
    background-color: $white;
    margin: 1em;
    padding: 5px;
    border-radius: 10px;
}

.leaderboard__challange:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.border__yellow{
    border: 3px solid yellow;
}
.border__orange{
    border: 3px solid orange;
}
.border__blue{
    border: 3px solid lightskyblue;
}
.border__purple{
    border: 3px solid rebeccapurple;
}

.align__center{
    align-items: center;
}

.goal__leaderboard{
    border-radius: 10px;
    background-color: $white;
    margin: .5em;
    padding: .5em;
}

.leaderboardImage {
    max-height: 40px;
    margin-right: 0.5em;
    border-radius: 50px;
}

.leaderboardName {
    border-right: 2px solid #e51f4f;
    padding-right: 0.5em;
    margin-right: 0.5em;
}

.leaderboardNumber {
    margin-right: 0.5em;
}

.selectContainer{
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
}

// elements