// ID's
#Karmaboard {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;

    & img {
        border-radius: 50%;
    }
}

// classes
.hidden {
    display: none;
}

.big__grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 95%;
    margin: 1em;
    background-color: white;
}

.karma__individual__container{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.karma__team__container{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.challenge__leaderboard__container{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.challenge__achievement__container{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.grid__base{
    min-width: 50%;
    min-height: 50%;
    padding: 1em;
    background-color: $white;
}

.grey__Background{
    background-color: $light-grey;
    padding: .5em;
    border-radius: 10px;
}

.challenges{
    display: flex;
    height: 70%;
}

.individual__challenge{
    margin: .5em;
    background-color: $light-grey;
    padding: .5em;
    border-radius: 10px;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

.team__challenge{
    margin: .5em;
    background-color: $light-grey;
    padding: .5em;
    border-radius: 10px;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

.gridElement {
    min-height: 30px;
    grid-template-rows: auto;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: $white;
    padding: 0.5em;
    box-shadow: 0px 2px 0px 2px #e5e5e5;
}

.leaderboardImage {
    max-height: 40px;
    margin-right: 0.5em;
    border-radius: 50px;
}

.leaderboardName {
    border-right: 2px solid #e51f4f;
    padding-right: 0.5em;
    margin-right: 0.5em;
}

.leaderboardNumber {
    margin-right: 0.5em;
}

// elements