/* COLORS */
$light-blue: #34b6dd;
$yellow: #f6ae1a;
$red: #e51f4f;
$green: #17686d;
$black: #000;
$white: #fff;

$background-color: #E8E8ED;
$light-grey: #f7f7f7;
$grey: #9c9c9c;

/* OTHER PROPERTIES */
$border-radius-small: 5px;
$border-radius-big: 10px;

$container-padding: 10px;